body{
    background-color: #6c65fb2c;
}
.center{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop {
    position: absolute;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
}

.desktop .mainboard {
    position: absolute;
    top: 82px;
    left: 70px;
    width: 1300px;
    height: 860px;
}

.desktop .mainboard .background {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: calc(100% - 0% - 0%);
    height: calc(100% - 0% - 0%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    object-fit: cover;
    border: 5px solid #6D65FB;
    z-index: 1;
}

.desktop .mainboard .todolist {
    position: absolute;
    top: 51px;
    right: 43px;
    width: 350px;
    height: 758px;
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 2;
}

.desktop .mainboard .playlist {
    position: absolute;
    top: 445px;
    right: 436px;
    width: 428px;
    height: 364px;
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 4;
}

.desktop .mainboard .weather {
    position: absolute;
    top: 294px;
    right: 907px;
    width: 350px;
    height: 286px;
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.desktop .mainboard .quote {
    position: absolute;
    top: 614px;
    right: 907px;
    width: 350px;
    height: 195px;
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desktop .mainboard .welcome:not(h1){
    position: absolute;
    top: 6.86%;
    left: 2.98%;
    right: 69.77%;
    bottom: 68.84%;
    width: calc(100% - 3.31% - 69.77%);
    height: calc(100% - 6.86% - 68.84%);
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 7;
}

.desktop .mainboard .time {
    position: absolute;
    top: 6.05%;
    left: 36.72%;
    right: 36.92%;
    bottom: 54.42%;
    width: 340px;
    height: 340px;
    opacity: 0.69999999;
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    background: #FFFFFF;
    border: 5px solid #6D65FB;
    z-index: 8;
}
